.verticalPanel {
    text-align: center;
}

.button {
    background: white;
    text-align: center;
    width: 20px;
}

.addToDoListButton {
    background: white;
    text-align: center;
    width: 20px;
}

.checkBoxColumn {
    width: 37px;
    text-align: center;
}

.textBoxColumn {
    width: 350px;
    height: 30px;
}

.taskTextBox {
    width: 350px;
}

.completedTask {
    text-decoration: line-through;
}

